.gradient-background {
  background: linear-gradient(300deg, #0e0805, #56752d, #e7ef72);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

main{
  background-color: #222;
  color:lime;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar Styles */
.navbar {
  background-color: #336699;
  color: #fff;
}

.nav-link {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #fff;
  color: #336699;
}

.headerName {
  font-size: 1.5rem;
}

/* Main Content Styles */
.feature {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.feature ul {
  list-style: none;
  padding-left: 0;
}

.feature ul li {
  margin-bottom: 10px;
}

/* Footer Styles */
.footerC {
  background-color: #336699;
  color: #fff;
}

.footerContent {
  justify-content: center;
}

.footerContent span {
  font-size: 1rem;
}

/* Buttons Styles */
.btn-primary {
  background-color: #336699;
  border: none;
}

.btn-outline-secondary {
  border: 2px solid #336699;
  color: #336699;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar-brand {
    margin-bottom: 10px;
  }
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    margin: 5px;
  }
  .feature {
    width: 100%;
  }
}

.contentDetails {
  width: 30%;
}


.footerC {
  width: 100%;
}

.footerContent {
  justify-content: center;
}

.headerName {
  font-weight: bold;
}

#bootStrapIcon {
  transform: rotate(-30deg);
  padding-bottom: 50px;
}
