
body{ 
    background-color: white;
    
}

.contentDetails{
    display: inline-block;
    padding:40px;
}

.header{
    position: static;
    height: 100px;
}

.footer{
    position: static;
    text-align: center;
    height:40px;
}

p{
    font-size: 28px;
}
.footer p{
    font-size: larger;
    color: black;
}
