body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main{
  flex: 1;
}

h1 {
  font-size: 5rem;
  width: 100%;
  padding-top: 50px;
}

.logo{
  display: block;
  width: 263px;
  height: 45px;
}

.card{
  width: 45%;
}


.left{
  float: left;
}

.right{
  float: right;
}


h1 > span{
  color:darkblue
}

footer {
  text-align: right;
  color: midnightblue;
  clear:both;
}

img{
  width: 300px;
  height: 200px;
  float:left;
  margin-right: 50px;
}




@media (max-width: 680px){
  h1{
    clear: both;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 25px;
    width:100%;
  }

  h2{
    padding-top: 10px;
  }


  .logo{
    display: block;
    width: 100px;
    height: 17px;
  }

  img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  

  .card{
    width: 100%;
  }

  .card-title{
    text-align:justify;
    clear: both;
  }

}

@media (min-width: 1000px ){
  h1{
    width: 83%;
  }

}

@media (min-width: 1201px ){
  h1{
    width: 68%;
  }

  h1 > .class-title>p{
    margin-left:50px;
    margin-right:50px;
  }
}

@media(min-width: 1600px)
{
  h1{
    width: 50%;
  }
}

@media(min-width: 681px) and (max-width:999px){
  h1{
    width:95;
  }
}